* {
    margin: 0;
    padding: 0;
    
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-container {
    color: whitesmoke;
    display: flex;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    height: 520px;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}
 .main {
    height: 300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
 }

.hero-links {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.hero-container,
.footer-container,
.main-container {
    background-color: #1f2937;
}


.main-placeholder img {
    height: 450px;
    width: auto;
}

img {
    width: 260px;
    height: auto;
}

.section-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-blocks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block {
    width: 260px;
    height: auto;
}

.block img {
    border: 50px solid rgba(0, 0, 250, 0.367);
    
}

.mensaje-container {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-aux {
    width: 800px;
}

.mensaje-author {
    font-size: 25px;
    justify-self: flex-end;
    font-weight: 900;
}

.registro-container {
    width: 800px;
    background-color:#3882f6 ;
    color: white;
    height: 129px;
    margin: 0 auto;
    border-radius: 10px;
}

