* {
    margin: 0;
    padding: 0;
    
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-container {
    color: whitesmoke;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    height: 520px;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.main-button {
    align-self: flex-start;
    height: 38px;
    width: 148px;
    border-radius: 5px;
    color: #e5e7eb;
    background-color: #3882f6 ;
    font-size: 17px;
    font-weight: bolder;
    border: 1px solid #3882f6;
}

 .main {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 15px;
    font-size: 18.6px;
 }

 .hero-logo {
    font-size: 24px;
    font-weight: 450;
 }

.hero-links {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.hero-container,
.footer-container,
.main-container {
    background-color: #1f2937;
}


.main-placeholder img {
    height: 450px;
    width: auto;
}

img {
    width: 260px;
    height: auto;
}

.section-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-blocks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block {
    width: 260px;
    height: auto;
}

.block img {
    border: 50px solid rgba(0, 0, 250, 0.367);
    
}

.mensaje-container {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-aux {
    width: 800px;
}

.mensaje-author {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    font-weight: 900;
}

.container-box {
    height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-container {
    width: 850px;
    background-color:#3882f6 ;
    color: white;
    height: 129px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.registro-text h4 {
    font-size: 25px;
}

.registro-text p {
    font-size: 18px;
}

.registro-button {
    width: 150px;
    height: 42px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 2.5px solid white;
    background-color:#3882f6;
}

.footer-container {
    height: 99px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

